@import "variables";
@import "mixins";

@function getColor($color) {
  @return $color;
}

.container {
  background-color: beige;
  border: $container-border;

  .main-para {
    @include contentStyle()
  }

  .another-para {
    &:hover {
      color: getColor(red);
    }

    @include contentStyle()
  }

}
